<% layout("/layouts/boilerplate") %>
<body>
    <h3>All Listings</h3>
    <!-- <a href="/listings/new">
        <button>Create New Listing</button>
    </a> -->
    <div class="row row-col-lg-3 row-col-md-2 row row-col-sm-1">
        <% for(let listing of allListings ) { %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card" style="width: 20rem;">
                    <% if (listing.image && listing.image.url) { %>
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem">
                    <% } else { %>
                        <img src="default_image.jpg" class="card-img-top" alt="default_image">
                    <% } %>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= listing.title %></b><br />
                            &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                        </p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</body>